<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Add Job</title>

{% load static %}
<link rel="stylesheet" href="{% static 'css/add_jobs.css' %}">
<link rel="stylesheet" href="{% static 'css/admin-footer.css' %}">

</head>

<body>

<!-- ===== SIDEBAR ===== -->
{% include 'admin/sidebar.html' %}
<!-- ===== MAIN CONTENT ===== -->
<div class="main-content">

    <h2>Add Job</h2>

    <div class="form-container">

        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}

            <div class="input-group">
                <label>Category</label>
                <input type="text" name="category" required>
            </div>

            <div class="input-group">
                <label>Position Name</label>
                <input type="text" name="position" required>
            </div>

            <div class="input-group">
                <label>Company Name</label>
                <input type="text" name="company" required>
            </div>

            <div class="input-group">
                <label>Company Address</label>
                <textarea name="address" required></textarea>
            </div>

            <div class="input-group">
                <label>Contact Number</label>
                <input type="text" name="contact" required>
            </div>

            <div class="input-group">
                <label>Email</label>
                <input type="email" name="email" required>
            </div>

           

            <div class="input-group">
                <label>Upload Image</label>
                <input type="file" name="image" accept="image/*" required>
            </div>

            <input type="submit" class="add-btn" value="Add Job">

        </form>

    </div>

</div>
</body>
</html>